absl-py==2.2.2
cachetools==5.5.2
certifi==2025.4.26
chardet==5.2.0
cycler==0.12.1
flake8==7.2.0
gast==0.6.0
gdown==5.1.0
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
idna==3.10
keras==3.11.0
kiwisolver==1.4.8
Markdown==3.8
matplotlib==3.10.3
mccabe==0.7.0
ml_dtypes==0.5.1
numpy==2.1.3
oauthlib==3.2.2
opt_einsum==3.4.0
optree==0.15.0
pandas==2.2.3
Pillow==11.2.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycodestyle==2.13.0
pyflakes==3.3.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
tensorboard==2.19.0
tensorflow==2.19.0
termcolor==3.1.0
tqdm==4.67.1
urllib3==2.4.0
Werkzeug==3.1.3
wrapt==1.17.2
